#appContainer {
	background-color: $backgroundColor;
	font-weight: $normalFontWeight;

	/* nav bar */
	#content {
		min-height: $appMinHeight;

		/* index page */
		@import './index.scss';

		/* about */
		@import './about.scss';

	}
}
