// font weight
$normalFontWeight: 200;
$labelFontWeight: 400;
$borderSize: 1px;

// font color
$iconFontColor: rgb(128, 128, 128);

// background color
$backgroundColor: white;

// other constants
$appMinHeight: 256px;

#mainSection {
	height: 100%;
	h1, h2, h3, h4, h5 {
		color: $iconFontColor;
	}
	@import './app.scss';
}
